.today {
    padding: 1rem;
    font-size: 16px;
    position: relative;
}

.today .weather {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
}

.today .posts {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;
}

.today .posts .loading {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.icon {
      float:right;
      width: 50%;
      height: 50%;
      float: right;
  }
.title {
    font-size:50px;
    width: 40rem;
}
.article {
      position: relative;
    float:right;

  }
 .words {
    float:left;
    font-size: 25px;
    width: 25rem;
  }


