/* .today {
    padding: 1rem;
    font-size: 16px;
    position: relative;
    background-color: violet;
}

.today .weather {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
}

.today .posts {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;
}

.today .posts .loading {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
} */
/* .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */


.article {
   position:relative;

    width: 1500px;

    padding:0px 0px 0px 0px;

    margin:0px auto;
 
  }
  .title666 {
    position: relative;
    font-size:40px;
    width: 40rem;
    top:5rem; 
}

.icon {
    float:right;
    width: 100%;
    height: 100%;
}
 .words {
    position: relative;
    float:left;
    font-size: 25px;
    width: 25rem;
 
  }

