.post-item {
    width: 100%;
    border: 5px solid green;
}

.post-item .post {
    width: 100%;
    height: 15rem;
    border: 5px solid black;
}

.post-item .mood {
    text-align: center;
    font-size: 2rem;
    width: 3rem;
}

.post-item .wrap {
    width: 100%;
    padding-left: 0.75rem;
    border: 5px solid red;
}

.post-item .title {
    white-space: pre-wrap;
    /* margin-bottom: auto; */
    /* margin-left: auto; */
    border: 5px solid yellow;
}

.post-item .text {
    white-space: pre-wrap;
    /* margin-bottom: 5rem; */
    border: 5px solid yellow;
}

.post-item .ts {
    color: #bcbcbc;
    font-size: 0.875rem;
    text-align: right;
    border: 5px solid blue;
    /* margin-left: auto;
    margin-right: auto; */
}

.post-item .vote {
    color: #bcbcbc;
    padding-top: 0.5rem;
    border: 5px solid grey;
}

.post-item .vote .vote-plus i {
    color: #bcdff1;
    padding-left: 0.5rem;
}

.tooltip-inner {
    max-width: none !important;
}

.tooltip-inner i.vote-tooltip {
    font-size: 1.5rem;
    width: 2.25rem;
    line-height: 1.75;
}

.tooltip-inner i.vote-tooltip:hover {
    color: #31b0d5
}
