.today {
    /* padding: 1rem; */
    background-image: url(./images/landing_page_darker.jpg);
}

.today .weather {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
}

.today .posts {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;
}

.today .posts .loading {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.today .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.today .icon {
    width: 25%;
    height: 25%;
}

.today .title {
    margin: 3rem auto;
}
.section {
    position: relative;
    top:40rem;
}
.title-brand {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    display: block; 
}
.title-brand .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px; 
}
.presentation-page .title-brand .type {
    font-size: 16px;
    transform: translateY(-28px);
    -webkit-transform: translateY(-28px);
    -moz-transform: translateY(-28px);
    -o-transform: translateY(-28px); }
.presentation-page .title-brand .type {
        font-size: 12px;
        padding: 4px 7px;
        border-radius: 4px;
        top: 0;
        font-weight: 600;
        margin-top: 20px;
        right: 2px; 
    }
.presentation-title {
        font-size: 8em;
        font-weight: 700;
        margin: 0;
        color: #FFFFFF;
        background: #fbf8ec;
        background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
        background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
        background: -ms-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
        background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
.presentation-subtitle {
            font-size: 1.7em;
            color: #FFFFFF;
     
   }
.overlay-intro {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 30rem;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}
.landing_title{
    position: relative;
    top:10rem;
}