.today2 {
    /* padding: 1rem; */
}

.today2 .weather {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
}

.today2 .posts {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;
}

.today2 .posts .loading {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.today2 .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.today2 .icon {
    width: 25%;
    height: 25%;
}

.today2 .title {
    margin: 3rem auto;
}
